* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'vrdznagir';
    src: url(./fonts/Vrdznagir.otf);
}
@font-face {
    font-family: 'ArianAMU';
    src: url(./fonts/arnamu.ttf);
}
body {
    min-height: 100vh;
    background: url('./images/background.svg');
}

